html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}


.custom-rounded-card {
    border-radius: 13px;
}

body {
    padding-bottom: 60px; /
    overflow-x: hidden; 
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px; 
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(3px);
    color: black;
    z-index: 1000;
    overflow: hidden; 
}


.image-button {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('/images/arrow-left-circle-fill1.svg');
    background-size: cover;
    border: none;
    cursor: pointer;
    text-indent: -9999px; 
}

.edit-image-button {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('/images/pencil1.svg');
    background-size: cover;
    border: none;
    cursor: pointer;
    text-indent: -9999px;
}
.delete-image-button {
    display: inline-block;
    width: 18px;
    height: 21px;
    background-image: url('/images/trash.svg');
    background-size: cover;
    border: none;
    cursor: pointer;
    text-indent: -9999px;
}
.details-image-button {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('/images/icons8-info.svg');
    background-size: cover;
    border: none;
    cursor: pointer;
    text-indent: -9999px;
}

.pagination-container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top:10px;
    text-align: center;
}


.register-body {
    margin-bottom: 60px;
    background-image: url('/images/Background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#readOnlyInput {
    background-color: inherit;
    color: inherit;
}





