@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Index";
}


<div style="margin-top: 30px; position: relative;">
    <a asp-area="" asp-controller="Profile" asp-action="Index" class="image-button" style="position: absolute; left: -40px; top: 50%; transform: translateY(-50%);"></a>
    <h3>Список ролей</h3>
</div>

<table class="table" style="font-size:25px; margin-top:30px;">
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Видалити
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<a asp-action="UserList" class="btn btn-primary" style="margin-top: 20px;">Список працівників</a>


